<!-- Contact Start -->
<div class="container-fluid py-5" id="contact">
  <div class="container">
    <div class="position-relative d-flex align-items-center justify-content-center">
      <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Contact</h1>
      <h1 class="position-absolute text-uppercase text-primary">Contact Me</h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="contact-form text-center">
          <div id="success"></div>
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" name="sentMessage" id="contactForm" novalidate="novalidate">
            <div class="form-row">
              <div class="control-group col-sm-6">
                <input formControlName="name" type="text" class="form-control p-4" id="name" placeholder="Your Name"
                       required="required" data-validation-required-message="Please enter your name" />
                <div *ngIf="isSubmitted && controls['name'].errors && controls['name'].errors?.['required']" style="color: red; margin-left: 10px;">Name is required.</div>
<!--                <p class="help-block text-danger"></p>-->
                <br>
              </div>
              <div class="control-group col-sm-6">
                <input formControlName="email" type="email" class="form-control p-4" id="email" placeholder="Your Email"
                       required="required" data-validation-required-message="Please enter your email" />
                <div *ngIf="isSubmitted && controls['email'].errors && controls['email'].errors?.['required']" style="color: red; margin-left: 10px;">Email is required.</div>
                <div *ngIf="controls['email'].errors && controls['email'].errors?.['email']">Valid email is required.</div>
<!--                <p class="help-block text-danger"></p>-->
              </div>
            </div>
            <div class="control-group">
              <input formControlName="subject" type="text" class="form-control p-4" id="subject" placeholder="Subject"
                     required="required" data-validation-required-message="Please enter a subject" />
              <div *ngIf="isSubmitted && controls['subject'].errors && controls['subject'].errors?.['required']" style="color: red; margin-left: 10px;">Subject is required.</div>
<!--              <p class="help-block text-danger"></p>-->
              <br>
            </div>
            <div class="control-group">
                                <textarea formControlName="message" class="form-control py-3 px-4" rows="5" id="message" placeholder="Message"
                                          required="required"
                                          data-validation-required-message="Please enter your message"></textarea>
              <div *ngIf="isSubmitted && controls['message'].errors && controls['message'].errors?.['required']" style="color: red; margin-left: 10px;">Message is required.</div>
<!--              <p class="help-block text-danger"></p>-->
              <br>
            </div>
            <div *ngIf="showSuccess" style="color: green;">
              <p>{{successMessage}}</p>
            </div>
            <div *ngIf="showFailure" style="color: red;">
              <p>{{errorMessage}}</p>
            </div>
            <div>
              <button class="btn btn-outline-primary" type="submit" id="sendMessageButton">Send
                Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->
