<!-- Services Start -->
<div class="container-fluid pt-5" id="service">
  <div class="container">
    <div class="position-relative d-flex align-items-center justify-content-center">
      <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Service</h1>
      <h1 class="position-absolute text-uppercase text-primary">My Projects</h1>
    </div>
    <div class="row pb-3">
      <div class="col-lg-4 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center mb-4">
          <i class="fab fa-2x fa-apple service-icon bg-primary text-white mr-3"></i>
          <h4 class="font-weight-bold m-0">Factor</h4>
        </div>
        <p>Factor a groundbreaking Self-Driven system tailored for talent performance, growth, and engagement. Crafted to simplify the recruitment process, it fits teams to seamlessly match and place talents into projects that align with their skills and aspirations. Powered by a robust stack including Java, Spring, PostGRESQL, Angular, and React-Native, FACTOR stands as a hallmark of technological excellence and strategic talent optimization.</p>
        <!--        <a class="border-bottom border-primary text-decoration-none" href="">Read More</a>-->
      </div>
      <div class="col-lg-4 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center mb-4">
          <i class="fa fa-2x fa-laptop service-icon bg-primary text-white mr-3"></i>
          <h4 class="font-weight-bold m-0">File Mapper</h4>
        </div>
        <p>Healthcare File Mapper & API is an custom ETL tool that provides intuitive UI that assists data analysts to map client’s raw data into a streamlined format accepted by Deerwalk/Cedargate data formats and all the required configurations for the Deerwalk's ETL process and allows scrum-like release mechanism.</p>
<!--        <a class="border-bottom border-primary text-decoration-none" href="">Read More</a>-->
      </div>
      <div class="col-lg-4 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center mb-4">
          <i class="fa fa-2x fa-laptop-code service-icon bg-primary text-white mr-3"></i>
          <h4 class="font-weight-bold m-0">Loan Automation System</h4>
        </div>
        <p>Development with a special focus on developing and deploying innovative products and services in the field of Process Automation, Digitization, Workflow Automation, Digital Financial Solutions, and the Insurance Sector.</p>
<!--        <a class="border-bottom border-primary text-decoration-none" href="">Read More</a>-->
      </div>
      <div class="col-lg-4 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center mb-4">
          <i class="fab fa-2x fa-android service-icon bg-primary text-white mr-3"></i>
          <h4 class="font-weight-bold m-0">School Management System</h4>
        </div>
        <p>The school management system is a web application software that keeps a record of all students with their classes, ranking, courses, and results in detail for every student.</p>
<!--        <a class="border-bottom border-primary text-decoration-none" href="">Read More</a>-->
      </div>

      <div class="col-lg-4 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center mb-4">
          <i class="fa fa-2x fa-search service-icon bg-primary text-white mr-3"></i>
          <h4 class="font-weight-bold m-0">Online Market Place</h4>
        </div>
        <p>Online Marketplace is a project where the vendor can add their product to the system to sell products online.</p>
<!--        <a class="border-bottom border-primary text-decoration-none" href="">Read More</a>-->
      </div>
      <div class="col-lg-4 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center mb-4">
          <i class="fa fa-2x fa-edit service-icon bg-primary text-white mr-3"></i>
          <h4 class="font-weight-bold m-0">Hankman</h4>
        </div>
        <p>Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem lorem lorem est amet labore eirmod erat clita</p>
<!--        <a class="border-bottom border-primary text-decoration-none" href="">Read More</a>-->
      </div>
    </div>
  </div>
</div>
<!-- Services End -->
