<app-navbar></app-navbar>

<app-video></app-video>

<app-header></app-header>
<br>
<app-about></app-about>
<br>
<app-qualification></app-qualification>
<br>
<app-skill></app-skill>
<br>
<app-project></app-project>
<br>
<app-blog></app-blog>
<br>
<app-contact></app-contact>

<app-footer></app-footer>

<!-- Scroll to Bottom -->
<i class="fa fa-2x fa-angle-down text-white scroll-to-bottom"></i>

<!-- Back to Top -->
<a href="#" class="btn btn-outline-dark px-0 back-to-top"><i class="fa fa-angle-double-up"></i></a>

<router-outlet></router-outlet>
