<!-- Qualification Start -->
<div class="container-fluid py-5" id="qualification">
  <div class="container">
    <div class="position-relative d-flex align-items-center justify-content-center">
      <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Quality</h1>
      <h1 class="position-absolute text-uppercase text-primary">Education & Expericence</h1>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h3 class="mb-4">My Education</h3>
        <div class="border-left border-primary pt-2 pl-4 ml-2">
          <div class="position-relative mb-4">
            <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
            <h5 class="font-weight-bold mb-1">Master of Science in Computer Science</h5>
            <p class="mb-2"><strong>Maharishi International University</strong> | <small>2022 - 2024</small></p>
            <p>Completed on-campus studies and currently taking distance education courses to complete a Master's Degree in Computer Science (Available for full-time, W-2 employment).</p>
          </div>
          <div class="position-relative mb-4">
            <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
            <h5 class="font-weight-bold mb-1">Bachelor of Information Management</h5>
            <p class="mb-2"><strong>Orchid International College</strong> | <small>2015 - 2019</small></p>
            <p>Bachelor Of Information Management (BIM) is a 4-year 8-semesters program offering an integrated Management and IT Courses affiliated to Tribhuvan University. The main objectives of the Bachelor In Information Management include: Develop ability in students in object-oriented software design methods and data management systems. Students looking for top BIM colleges in Kathmandu are usually recommended orchid.</p>
          </div>
          <div class="position-relative mb-4">
            <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
            <h5 class="font-weight-bold mb-1">HSEB</h5>
            <p class="mb-2"><strong>Prabhat English Higher Secondary School</strong> | <small>2011 - 2013</small></p>
            <p>Completed HSEB in 2013</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="mb-4">My Expericence</h3>
        <div class="border-left border-primary pt-2 pl-4 ml-2">
          <div class="position-relative mb-4">
            <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
            <h5 class="font-weight-bold mb-1">Senior Java Engineer</h5>
            <p class="mb-2"><strong>Blankfactor LLC</strong> | <small>2023 - 2024</small></p>
            <p>Played key role as senior member on elite technical team. Assessed software requirements; guided team in planning and executing assigned projects. Oversaw deployment in collaboration with DevOps team. Developed and reviewed technical documentation.</p>
          </div>
          <div class="position-relative mb-4">
            <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
            <h5 class="font-weight-bold mb-1">Software Engineer</h5>
            <p class="mb-2"><strong>Cedargate Technologies</strong> | <small>2021 - 2022</small></p>
            <p>Developed software and modules using Java, Groovy, Grails and MySQL. Conducted research on RESTFul API development for sourcing end-user-based web applications allowing users to view status, fill assessment and record healthcare data.Developed user interfaces and maintained data representation.</p>
          </div>
          <div class="position-relative mb-4">
            <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
            <h5 class="font-weight-bold mb-1">Full-stack JAVA Engineer</h5>
            <p class="mb-2"><strong>SB Solution Pvt Ltd</strong> | <small>2020 - 2021</small></p>
            <p>Developed dynamic analytical reporting module; remodeled existing features to improve reporting. Designed and implemented intuitive user interfaces. Conducted research to identify web and API platforms and develop user-friendly UI / UX design for 2 key company products.</p>
          </div>
          <div class="position-relative mb-4">
            <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
            <h5 class="font-weight-bold mb-1">JAVA Developer</h5>
            <p class="mb-2"><strong>IT Bridge Nepal Pvt Ltd</strong> | <small>2017 - 2019</small></p>
            <p>Hired to hone coding skills as junior member of elite technical team.Optimized existing code; conducted technical troubleshooting and resolved technical issues.Participated in Sprint development lifecycle.Migrated legacy databases and applications to Entity framework.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Qualification End -->
